<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="

 		http://www.springframework.org/schema/beans

 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <bean id="sorts" class="sorts.Sorts"/>
    <bean id="sMerger" class="sorts.SimpleMerger"/>
    <bean id="mMerger" class="sorts.MultiMerger"/>
    <bean id="mySort" class="sorts.MySort"/>

    <bean id="test" class="test.Test"/>

    <bean id="sort" class="test.Human"/>
    <bean id="human" class="test.Human"/>

    <bean id="car" class="test.Car">
        <constructor-arg value="255" />
    </bean>

    <bean id="myList" class="list.MyList" scope="prototype">
        <property name="sortI" ref="mMerger">

        </property>
    </bean>

</beans>